# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules

# Jest coverage
coverage

# Text editors configurations
.vscode
.rgignore

# Env file
.env*.local

# report files
report*.json

# yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# uploads folder
~

# OS specific files
.DS_Store

# Dev tools files
.eslintcache