@tailwind base;
@tailwind components;
@tailwind utilities;

.text-editor {
    .remirror-theme {
        :is(a) {
            @apply underline;
        }

        :is(ul, ol) {
            @apply mb-4;

            :is(p) {
                @apply !mb-0;
            }
        }

        :is(ul) {
            @apply list-disc ml-6;
        }

        :is(ol) {
            @apply list-decimal ml-6;
        }

        :is(ol) {
            @apply list-decimal;
        }

        :is(p) {
            @apply leading-loose mb-4;
        }

        *:not(:first-child) ~ :is(h1, h2, h3, h4, h5, h6) {
            @apply mt-12;
        }

        :is(h1) {
            @apply text-4xl font-semibold mb-5;
            color: inherit;
        }

        :is(h2) {
            @apply text-3xl font-semibold mb-4;
            color: inherit;
        }

        :is(h3) {
            @apply text-2xl font-semibold mb-3;
            color: inherit;
        }

        :is(h4) {
            @apply text-xl font-semibold mb-2;
            color: inherit;
        }

        :is(h5) {
            @apply text-lg font-semibold mb-1;
            color: inherit;
        }

        :is(h6) {
            @apply text-base font-semibold mb-1;
            color: inherit;
        }

        :is(div) > p:last-of-type {
            @apply mb-0;
        }

        :is(pre) {
            :is(code) {
                @apply !bg-transparent !px-0 !py-0 !rounded-none !border-none !text-base;
            }
        }

        :is(blockquote) {
            @apply italic border-l-4 border-slate-200 text-slate-500 pl-2;

            :is(p) {
                @apply !mb-0;
            }
        }

        :is(code) {
            @apply bg-gray-100 px-1 py-0.5 rounded border border-gray-200;
        }

        :is(img) {
            @apply !w-full !h-auto mb-4 !rounded mt-2;
        }
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
