name: Lint and prettify
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: npm install -g yarn
    - run: yarn install
    - name: Linting and prettifying
      run: |
        yarn lint
        yarn prettier
      working-directory: ./
