name: Publish NPM Packages

on:
  push:
    tags:
      - '*'

jobs:
  publish-docker-images:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --no-network-family-autoselection --network-family-autoselection-attempt-timeout=5000
    steps:
      - name: checkout
        uses: actions/checkout@v1

      - name: Checkout and pull branch
        run: |
          LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
          git checkout $LATEST_TAG

      - name: Setup buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERNAME }}
          password: ${{ secrets.DOCKERTOKEN }}

      - name: Docker meta for the app
        id: metaapp
        uses: docker/metadata-action@v3
        with:
          images: codelit/courselit-app

      - name: Docker meta for the queue 
        id: metaqueue
        uses: docker/metadata-action@v3
        with:
          images: codelit/courselit-queue

      - name: Build and push app 
        id: docker_build_app
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./services/app/Dockerfile
          push: true
          tags: ${{ steps.metaapp.outputs.tags }}

      - name: Image digest
        run: echo ${{ steps.docker_build_app.outputs.digest }}

      - name: Build and push queue 
        id: docker_build_queue
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./services/queue/Dockerfile
          push: true
          tags: ${{ steps.metaqueue.outputs.tags }}

      - name: Image digest
        run: echo ${{ steps.docker_build_queue.outputs.digest }}
